<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">@ViewBag.Title</a>
            <div class="navbar-nav">
                <a asp-route-__tenant__="finbuckle" class="nav-item nav-link">Finbuckle Tenant</a>
                <a asp-route-__tenant__="megacorp" class="nav-item nav-link">MegaCorp Tenant</a>
                <a asp-route-__tenant__="initech" class="nav-item nav-link">Initech Tenant</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
